<server description="Sample Liberty server">

  <featureManager>
        <feature>appSecurity-2.0</feature> 
        <feature>microProfile-2.0</feature>
    </featureManager>
  <httpEndpoint httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint" host="*" />
  
      
  <mpJwt id="kabmpjwt" issuer="https://kabasec.com" keyName="default" />

    <jwtBuilder id="kabsecbuilder" expiresInSeconds="86400" issuer="https://kabasec.com" keyAlias="default" />
    
    
    <keyStore id="defaultKeyStore" password="keyspass"/>	


  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

  <applicationMonitor pollingRate="1000ms"/>
  
  

</server>
